# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Local settings and env files
.env
local_settings.py

# Database
db.sqlite3

# Media files
/media/

# Static files
/static/

# Django migrations
**/migrations/

# Virtual environment
my_env/

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Ignore files and directories in the project
blog_project.json
manage.py
requirements.txt

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
